        body{
            background-color: #191919;
            color: #ffffff;
        }

        .Header{

            background-color: #111111;

            font-size: 12pt;

            width: 85%;
            height: 25%;

            margin-top: 0;
            margin-left: 15%;
            margin-right: 1pt;

            text-align: left;

            border: 1px solid #fff;
        }

        .Page-Title{
            color: #fff; 
            padding-left: 1%;
            padding-top: 1%;
            padding-bottom: 1%;

            width: 20%;
        }
        
        .Menu{
            background-color: #111111;

            width: 15%;
            height: 2000pt;

            margin-top: -81pt;

            border: 1px solid #fff;
            
        }

        .PM-Title{
            text-align: center;
            padding-top: 10pt;

            border-bottom: 1px solid #fff;
            height: 69pt;
        }


/* #89c8ff */
        .find_parameter{
            background-color: #111111;
            color: #ffffff;
            border: 2px solid #fff;
            border-radius: 5px;
            width: 60%;
            height: 30pt;
            font-size: 20px;
            margin-top: 5pt;
            margin-left: 20%;
            margin-right: 20%;
            transition: all 0.3s ease;
        }
        .find_parameter:hover{
            border: 2px solid #0088ff;
        }
        .find_parameter:active{
            border: 2px solid #0088ff;
        }

        .find_parameter:placeholder-shown{
            color: #444
        } */
        .parameters{
            color: #ffffff;
            background-color: #222;
            
            width: 90%;

            padding-left: 5pt;
            padding-right: 5pt;
            padding-top: 5pt;
            padding-bottom: 5pt;

            margin-top: 10pt;
            margin-left: 5%;
            margin-right: 5%;

            border: 1px solid #fff;
            border-radius: 5px;

            transition: all 0.3s ease;

            font-size: 16pt;

        }