QDialog{
    background-color: #151515;
}

QLabel{
    font-size: 18pt;
    color: #c7c7c7;
}

QLineEdit{
    font-size: 16pt;
    color: #c7c7c7;
    border: 1px solid #222;
}

QPushButton{
    background-color: #111;
    border: 1px solid #222;
    border-radius: 8px;
}