<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Password Manager</title>
</head>
<body>
    <div class="Header">
        <h1 id="Header-title">Password Manager</h1>
    </div>
    <div class="Menu">
        <button class="menu_btn" id="home_btn">Home</button>
        <button class="menu_btn" id="settings_btn">Settings</button>
        <button class="menu_btn" id="account_btn">Account</button>  
    </div>
<div>
    <table>
    <thead>
        <tr>
        <th><b>Variable</b></th>
        <th><b>Value</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Google</td>
        <td>hkjasdhfkas</td>
        </tr>
    </tbody>
    </table>
</div>

</body>
</html>