<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <div class="logo">
            <i class="fa-solid fa-shield-halved"></i>{{header}}
        </div>
        <div class="Profile">
            <span>Admin</span>
            <div class="Avatar">A</div>
        </div>
    </nav>

    <main>
        <div class="controls">
            <div class="search-bar">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="Поиск параметра...">
            </div>
        </div>

        <div class="settings">
            <div class="cloud">
                <i>Сохранение в облаке</i>

            </div>

        </div>

    </main>

    
    
</body>
</html>