<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <title>P-M Settings</title>
</head>
<body>
    <div class="Header">
        <h1 align="center"><b>Settings</b></h1>
    </div>

    <div class="Menu">
        <button class="menu_btn" id="home_btn">Home</button>
        <button class="menu_btn" id="settings_btn">Settings</button>
        <button class="menu_btn" id="account_btn">Account</button>  
    </div>

        <form>
        <input class="find_parameter" type="text" id="name" placeholder="Find parameter:">
    </form>
    <div class="parameters">

        <input type="checkbox" id="finder" name="finder_scroll" value="on" checked="on">
        <label for="finder_scroll">Показывать поиск при прокрутки страницы</label><br>

        <input type="checkbox" id="save_in_cloud" name="cloud" value="on" checked="on">
        <label for="cloud">Сохранение паролей в облаке</label>

    </div>
    
</body>
</html>