QDialog{
    background-color: #151515;
}

QLabel{
    font-size: 18pt;
    color: #D3D3D3;
}

QLineEdit{
    font-size: 16pt;
    color: #c7c7c7;
    background-color: #111111;
    border: 1px solid #222;
    border-radius: 8px;
}

QLineEdit:hover{
    background-color: #222222;
    border-color: #626262;
}

QPushButton{
    background-color: #111111;
    border: 1px solid #222;
    border-radius: 8px;
}

QPushButton:hover{
    background-color: #222222;
    border-color: #626262;
}