QMainWindow{
    background-color: @background;
    color: @text;
    font-family: "Arial";
}

#ToolBar{
    background-color: @tool_background;
    border: 1px solid @tool_border;
    border-radius: 8px;
}

#ToolBarButtons{ 
    background-color: @btn_background;
    border: 1px solid @btn_border;
    border-radius: 8px;
}

#ToolBarButtons:hover{
    background: @btn_background_hover;
    border: 1px solid @btn_border_hover;
}

#ToolBarSearch{
    background-color: @search_backgorund;
    color: @search_text;
    border: 1px solid @serach_border;
    border-radius: 8px;
    font-size: 16pt;
}


#ToolBarTitle{
    border: 1px solid @tool_border;
    font-size: 24pt;
    font-weight: bold;
}


#LeftWorkspace{
    background-color: @tree_background;
    color: @tree_text;
    font-size: 20pt;
    border: 1px solid @tree_border;
    border-radius: 8px;
    selection-background-color: @tree_selection;
    selection-color: @tree_selection_text;
}


#RightWorkspace{
    background-color: @r_workspace_background;
    border: 1px solid @r_workspace_border;
    border-radius: 8px;
}

#RightWorkspaceTitle{
    font-size: 24pt;
    background-color: @r_workspace_background;
    border: 1px solid @r_workspace_border;
    border-radius: 8px;
    color: @r_workspace_text
}

#RightWorkspaceButtons{
    background-color: @btn_background;
    border: 1px solid @btn_border;
    border-radius: 8px;
}

#RightWorkspaceButtons:hover{
    background: @btn_background_hover;
    border: 1px solid @btn_border_hover;
}

#RightWorkspaceLabel {
    font-size: 20pt;
    border: 0px solid @r_workspace_background;
}

#RightWorkspaceTitle{
    background-color: @r_workspace_title_background;
    border-color: @r_workspace_titile_border;
    font-size: 20pt;
}


