QMainWindow{
    background-color: #151515;
    color: #D3D3D3;
    font-family: "Arial";
}

QTreeView{
    background-color: #111;
    color: #D3D3D3;
    font-size: 20pt;
    border: 1px solid #222222;
    border-radius: 8px;
}

QPushButton{
    background-color: #424242;
    border: 1px solid #050505;
    border-radius: 8px;
}

QLineEdit{
    background-color: #111111;
    border: 1px solid #050505;
    border-radius: 8px;
    color: #c7c7c7;
    font-size: 16pt;
}
