QDialog{
    background-color: #151515;
    font-size: 16pt;
}

QScrollArea{
    border: 1px solid #222;
    border-radius: 4px;
}

QScrollArea QWidget{
    background-color: #111111;
}

QScrollBar:vertical{
    border: none;
    background: #222;
    width: 10px;
}

QLabel{
    font-size: 16pt;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}

QCheckBox{
    spacing: 5px; 
}
QCheckBox::indicator{
    background-color: #333333;
    border: 1px solid #222222;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    
}

QCheckBox::indicator:hover{
    background-color: #444444;
    border-color: #626262
}

QCheckBox::indicator:checked{
    background-color: #111111;
    border-color: #626262;
     /* Можно задать кастомную иконку галочки */
    /* image: url(:/images/check.png);  */
}

QComboBox{
    background-color: #333333;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    width: 150px;
    height: 20px;
}

QLineEdit{
    background-color: #333333;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 150px;
    height: 20px;
}