QDialog{
    background-color: #151515;
    font-size: 16pt;
}

QScrollArea{
    
}

QCheckBox{
    spacing: 5px; 
}
QCheckBox::indicator{
    background-color: #111111;
    border: 1px solid #222222;
    border-radius: 4px;
}

QCheckBox::indicator:hover{
    background-color: #222222;
    border-color: #626262
}

QCheckBox::indicator:checked{
    background-color: #111111;
    border-color: #626262
}